{{define "footer"}}
    <footer>
            <a href="https://github.com/kaatinga/plantbook"><img class="github" src="/assets/img/plantbook.png" alt="this is car image" /></a>      
    </footer>
{{end}}